<p id="debt-overview">
  <span class="debtor">{{debtor}}</span> owes <span class="collector">{{collector}}</span>
  <span class="item-with-quantity">{{{item_with_quantity}}}</span>
</p>

<p class="notes">
  An email has been sent to both parties &mdash; <strong>{{collector}}</strong> can clear the debt from this email once it's been paid. In the meantime, we'll nag <strong>{{debtor}}</strong> with emails until they repay the debt.
</p>

<p class="return"><a href="/">&laquo; Return to Home</a></p>