{{debtor}} owes you {{item_with_quantity}}.

We'll keep nagging them with emails until you get paid though. However, once the debt has been paid, please use the link below to mark the debt as paid. You can also cancel the debt from this url.

{{{debt_url}}} - View / Delete / Mark as Paid

Your Personal Collection Agency,
YouOweMe @ http://YouOweMe.mobi
